form{
    background-color: #EEEDEB;
    div{
        position: relative;
        svg{
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    }
    :nth-child(3 of div){
        svg{
            cursor: pointer;
        }
    }
       
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
